<div class="actionBar" (cdkDragStarted)="handleDragStart($event)" cdkDrag>
  <mat-toolbar class="action-toolbar">
    <div class="main-container">
      <button class="btn-toggle" (click)="toggleStatus()">
        <mat-icon>{{showSubContainer ? 'chevron_right' : 'chevron_left'}}</mat-icon>
      </button>
    </div>

    <div [ngClass]="statusClass" class="sub-container" *ngIf="showSubContainer" @toggle>
      <div class="container-buttons">
        <a href="https://angular.io/" target="_blank"><button class="btn-action">Button 1</button></a>
        <button class="btn-action">Button 2</button>
        <button class="btn-action">Button 3</button>
      </div>
      <div class="container-more">
        <button class="btn-more" mat-icon-button [matMenuTriggerFor]="menu">
          <div class="icon-more">
            <mat-icon>more_horiz</mat-icon>
          </div>
          <div class="txt-more">More</div>
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Button 4</button>
        <button mat-menu-item>Button 5</button>
        <button mat-menu-item>Button 6</button>
        <button mat-menu-item>Button 7</button>
      </mat-menu>
      <div class="icon-app">
        <mat-icon>apps</mat-icon>
      </div>
    </div>
  </mat-toolbar>
</div>